html {
  background-color: #aa8c38;
  background-size: 25%;
  font-family: 'Bauhaus', sans-serif;
  color: rgb(236, 226, 226);
}

body {
  display: block;
  font-size: 16px;
}

.HomePage {
  margin: 0 auto;
  display: inline-block;
}

image {
  border-radius: 30px; 
  max-width: 250px;
  box-shadow: 5px 5px 15px 5px #f0f1b0;
  position: relative;
  margin: 20px 15px 20px 15px;
  float: right;
}