html {
  background-color: #aa8c38;
  background-size: 25%;
  font-family: 'Bauhaus', sans-serif;
  color: rgb(236, 226, 226);
}

body {
  display: block;
  font-size: 16px;
}

.HomePage {
  margin: 0 auto;
  display: inline-block;
}

image {
  max-width: 25%;
}